---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <style>
    .about {
      min-height: 80vh;
    }
    body {
      background: white;
    }
    
  </style>
  <section class="everydayfeed">
    <div class="section-content">
      <p class="about">This is the about page. It's a static page that doesn't need any data.</p>
    </div>
  </section>
</BaseLayout>
